:root {
    --hue: 0;
    --color1: hsl(var(--hue) 90% 90%);
    --color2: hsl(var(--hue) 50% 50%);
}

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;
    background-color: var(--color1);
    color: var(--color2);
    font-size: 150%;
    font-family: sans-serif;
    font-weight: bold;
    padding: 1em;
}

h1,
p {
    padding: 1em 1.5em;
    border-radius: 9999rem;
    border: .25em solid var(--color2);
}

h1 {
    color: var(--color1);
    background-color: var(--color2);
}
